@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    25-25 M. Gorkogo<br />
    Vitebsk, BY 210026, Belarus<br />
    <abbr title="Phone">P:</abbr>
    +375-29-2125706
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@stimulsoft.com">support@stimulsoft.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@stimulsoft.com">sales@stimulsoft.com</a><br />
    <strong>Information:</strong> <a href="mailto:info@stimulsoft.com">info@stimulsoft.com</a>
</address>
